.loading {
  width: 250px;
  height: 250px;
  box-shadow: 5px 10px 8px #888888;
  margin: 10% auto;
  background-color: white;
  animation-name: circle;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loading:hover {
  animation-name: magic;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  box-shadow: 5px 10px 10px black;
}

@keyframes circle 
{
  0% {
    transform:scale(.3);
    background-color: gold;
    border-radius: 100%;
  }

  50% {
    background-color: white;
    transform: scale(1.5);
    border-radius: 0%;
  }

  100% {
    transform:scale(.3);
    background-color: gold;
    border-radius: 100%;
  }
}

@keyframes magic
{
  from {
    transform: rotate(0deg);
    border-radius: 100%;
  }
  to {
    transform: rotate(360deg);
    border-radius: 100%;
  }
}


body{
  display: flex;
  background: white;
}